body {
background:black;   
color:lime;
margin:0px;
font-family: "Comic Neue", serif;

}

header {
    border-bottom: solid 2px greenyellow;
    padding: 20px;
    font-size: 50px;
    color: darkgoldenrod;
}
 
section {
        background: purple;
        padding-bottom: 80px; 
            padding-top: 80px;
            display: flex;
            justify-content:    center;
    }
    .chamada-texto {
    margin-right:           5%;
}   
h1 {
    font-size: 40px;
}   
p {
    font-size:20%;
} 
img {
    height: 300px;
} 